In [1]:
import pandas as pd
import numpy as np

In [2]:
from surprise import Dataset
from surprise import Reader

In [3]:
from UBCFBase import UBCFBase

In [4]:
reader = Reader(line_format='user item rating', sep=':')

In [5]:
data = Dataset.load_from_file('new_usr_ratings.txt', reader=reader)

In [6]:
data.split(n_folds=3)

In [7]:
trainsets = []
for trainset, testset in data.folds():
    trainsets.append(trainset)

In [8]:
first_trainset = trainsets[0]

In [9]:
first_trainset.n_users

968

In [10]:
algo = UBCFBase('new_ratings_all.txt')

In [11]:
algo.train(first_trainset)

C:\Users\rico\Miniconda2\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the behavior similarity matrix...
Done computing behavior similarity matrix

In [12]:
algo.trainset.n_users

968

In [13]:
algo.trainset_assist_rating_df

        uid       iid  rating        date  comment_type
0       812  10438426       0  2014-09-29             0
1       812  10455629       0  2014-09-11             0
2       812  10463953       0  2015-07-13             0
3       812  10465145       0  2015-08-22             0
4       812  10467774       0  2016-06-05             0
5       812  10491666       5  2015-06-18             0
6       812  10533913       0  2016-10-23             0
7       812  10535568       0  2016-07-21             0
8       812  10545939       0  2014-10-08             0
9       812  10561953       0  2014-09-30             0
10      812  10574468       0  2014-09-29             0
11      812  10574622       0  2014-09-29             0
12      812  10605978       0  2014-09-29             0
13      812  10741643       0  2015-05-30             0
14      812  10757577       0  2016-03-01             0
15      812  10777687       0  2014-09-29             0
16      812  10792650       0  2015-07-02             0
17      812  10807909       0  2015-01-16             0
18      812  10831445       0  2016-05-16             0
19      812  10833919       0  2014-09-30             0
20      812  11510624       0  2014-10-08             0
21      812  11529526       0  2014-09-29             0
22      812  11589036       0  2016-01-30             0
23      812   1291543       0  2014-10-01             0
24      812   1291544       0  2014-09-29             0
25      812   1291545       0  2014-09-30             0
26      812   1291546       0  2015-05-21             0
27      812   1291548       0  2015-05-21             0
28      812   1291550       0  2014-09-11             0
29      812   1291557       0  2015-05-27             0
...     ...       ...     ...         ...           ...
587566  380   6869395       0  2013-04-13             0
587567  380   6869414       4  2013-08-17             1
587568  380   6872273       4  2013-07-06             1
587569  380   6872284       0  2012-07-01             1
587570  380   6873143       3  2017-03-18             1
587571  380   6873657       4  2014-03-23             1
587572  380   6874456       4  2013-12-01             1
587573  380   6875263       3  2015-06-23             0
587574  380   6875863       3  2015-12-25             1
587575  380   6879185       4  2014-01-31             0
587576  380   6886510       0  2011-12-05             0
587577  380   6886896       0  2012-11-23             1
587578  380   6890469       3  2012-03-17             1
587579  380   6890730       4  2012-11-11             1
587580  380   6900127       4  2011-11-06             1
587581  380   6902929       0  2012-02-26             0
587582  380   6965615       3  2013-03-31             1
587583  380   6973376       3  2013-04-30             1
587584  380   6985986       3  2011-12-16             1
587585  380   6999855       0  2012-04-28             1
587586  380   7046723       4  2014-09-16             1
587587  380   7051357       3  2013-06-05             1
587588  380   7054604       3  2014-07-12             1
587589  380   7059671       5  2014-04-20             1
587590  380   7064681       5  2013-02-24             1
587591  380   7065187       3  2014-11-02             1
587592  380   7065238       0  2016-10-29             1
587593  380  23712691       5  1800-01-01             2
587594  380  25779218       5  1800-01-01             2
587595  380   7564975       0  2014-11-28             1

[587593 rows x 5 columns]

In [14]:
from sklearn.metrics.pairwise import pairwise_distances

In [17]:
algo.UCI.sort_values()

uid
941    0.000000
783    0.000000
764    0.000000
343    0.000000
816    0.000000
443    0.000000
750    0.000000
837    0.000000
530    0.000000
127    0.000000
894    0.000000
288    0.000000
575    0.000000
917    0.000000
943    0.000000
942    0.000000
257    0.000000
839    0.000000
596    0.000000
918    0.000000
870    0.000000
817    0.000000
929    0.000000
357    0.000000
3      0.000000
4      0.000000
964    0.000000
341    0.000000
883    0.000000
775    0.000000
         ...
770    1.101399
455    1.104294
119    1.112126
833    1.132075
300    1.149620
703    1.151786
124    1.165119
36     1.175286
674    1.219858
959    1.260870
924    1.307692
867    1.310345
263    1.337912
274    1.384000
847    1.460177
612    1.483871
945    1.500000
848    1.520000
353    1.618421
554    1.781161
661    1.800000
831    2.000000
882    2.195122
731    2.208333
698    3.461538
169    3.631081
748    3.785185
464    3.817232
442    4.565887
890    5.000000
dtype: float64

In [18]:
algo.trainset.to_raw_uid(941)

'144502956'

In [19]:
algo.trainset_assist_rating_df[algo.trainset_assist_rating_df['uid']=='144502956']

C:\Users\rico\Miniconda2\lib\site-packages\pandas\core\ops.py:792: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [22]:
algo.trainset_assist_rating_df[algo.trainset_assist_rating_df['uid']==890]

       uid       iid  rating        date  comment_type
32578  890   2338055       3  2016-12-22             0
32579  890  24751763       4  2016-12-22             0
32580  890  24860318       2  2016-12-22             0
32581  890  25726614       3  2016-12-22             0
32582  890  25731059       1  2016-12-22             0
32583  890  25750923       4  2017-01-12             0
32584  890  25789402       2  2016-12-22             0
32585  890  25793398       4  2016-12-22             0
32586  890  25911694       2  2016-12-26             0
32587  890  25934014       5  2017-02-15             0
32588  890  25953429       4  2017-03-01             0
32589  890  25978126       2  2016-12-22             0
32590  890  25983044       4  2016-12-22             0
32591  890  26287884       4  2017-01-16             0
32592  890  26325320       5  2016-12-22             0
32593  890  26353372       4  2016-12-22             0
32594  890  26386701       4  2017-02-22             0
32595  890  26413089       3  2016-12-22             0
32596  890  26427152       5  2016-12-22             0
32597  890  26630781       3  2016-12-22             0
32598  890  26654811       4  2016-12-22             0
32599  890  26683290       5  2016-12-22             0
32600  890  26794215       4  2016-12-22             0
32601  890  26820836       4  2017-01-19             0
32602  890   3025375       4  2016-12-22             0
32603  890   4087240       5  2016-12-22             0
32604  890   5262339       2  2017-03-13             0
32605  890   6982558       3  2016-12-22             0
32606  890  26325320       5  1800-01-01             2
32607  890  24751763       4  1800-01-01             2
32608  890  26683290       5  1800-01-01             2
32609  890  25793398       4  1800-01-01             2
32610  890  25978126       2  1800-01-01             2
32611  890  25726614       3  1800-01-01             2
32612  890  26630781       3  1800-01-01             2
32613  890  26353372       4  1800-01-01             2
32614  890  26427152       5  1800-01-01             2
32615  890  25983044       4  1800-01-01             2
32616  890   4087240       5  1800-01-01             2
32617  890   3025375       4  1800-01-01             2
32618  890  26654811       4  1800-01-01             2
32619  890  25789402       2  1800-01-01             2
32620  890   2338055       3  1800-01-01             2
32621  890  26413089       3  1800-01-01             2
32622  890  26794215       4  1800-01-01             2
32623  890   6982558       3  1800-01-01             2
32624  890  25731059       1  1800-01-01             2
32625  890  24860318       2  1800-01-01             2
32626  890  25911694       2  1800-01-01             2
32627  890  25750923       4  1800-01-01             2
32628  890  26287884       4  1800-01-01             2
32629  890  26820836       4  1800-01-01             2
32630  890  25934014       5  1800-01-01             2
32631  890  26386701       4  1800-01-01             2
32632  890  25953429       4  1800-01-01             2
32633  890   5262339       2  1800-01-01             2

In [23]:
temp = algo.trainset_assist_rating_df.groupby(['uid', 'comment_type']).size().unstack().fillna(0)

In [26]:
uid_sum = temp[0] + temp[1] + temp[2]

In [28]:
a = pd.concat([algo.UCI, uid_sum], axis=1)

In [31]:
a.sort_values(by=[0, 1],ascending=False)

            0       1
uid
890  5.000000    56.0
442  4.565887  1753.0
464  3.817232   766.0
748  3.785185   135.0
169  3.631081   740.0
698  3.461538    13.0
731  2.208333    48.0
882  2.195122    41.0
831  2.000000    91.0
661  1.800000    10.0
554  1.781161  1051.0
353  1.618421   608.0
848  1.520000    25.0
945  1.500000    16.0
612  1.483871   279.0
847  1.460177   113.0
274  1.384000   125.0
263  1.337912   364.0
867  1.310345    29.0
924  1.307692   117.0
959  1.260870    23.0
674  1.219858   141.0
36   1.175286  8489.0
124  1.165119  1508.0
703  1.151786   112.0
300  1.149620  1711.0
833  1.132075    53.0
119  1.112126  2408.0
455  1.104294   163.0
770  1.101399   286.0
..        ...     ...
127  0.000000   525.0
288  0.000000   498.0
645  0.000000   460.0
364  0.000000   348.0
257  0.000000   330.0
443  0.000000   328.0
775  0.000000   254.0
465  0.000000   197.0
343  0.000000   192.0
894  0.000000   188.0
750  0.000000   176.0
688  0.000000   125.0
883  0.000000   109.0
783  0.000000   106.0
839  0.000000   100.0
870  0.000000    98.0
352  0.000000    94.0
941  0.000000    62.0
943  0.000000    62.0
942  0.000000    57.0
764  0.000000    55.0
929  0.000000    55.0
884  0.000000    45.0
837  0.000000    40.0
817  0.000000    34.0
596  0.000000    32.0
816  0.000000    30.0
918  0.000000    20.0
964  0.000000    10.0
917  0.000000     4.0

[968 rows x 2 columns]

In [32]:
_890 = algo.trainset_assist_rating_df[algo.trainset_assist_rating_df['uid']==890]

In [33]:
_442 = algo.trainset_assist_rating_df[algo.trainset_assist_rating_df['uid']==442]

In [43]:
temp.ix[464]

comment_type
0    470.0
1      4.0
2    292.0
Name: 464, dtype: float64

In [44]:
temp.ix[748]

comment_type
0    83.0
1     1.0
2    51.0
Name: 748, dtype: float64

In [ ]:
te