In [1]:
import pandas as pd
import numpy as pd
from UPIBCF import *

In [2]:
raw_rating_df = pd.read_csv('new_ratings_all.txt', sep=':', header=None, names=['uid', 'iid', 'rating', 'date', 'comment_type'], dtype={'uid':np.str, 'iid':np.str})

In [3]:
urdi = UPIBCF.compute_URDI(raw_rating_df)

In [4]:
uci = UPIBCF.compute_UCI(raw_rating_df)

In [5]:
upi = UPIBCF.compute_UPI(uci, urdi)

In [6]:
upi[upi['sum'] > 1000].sort_values('std', ascending=False)

                    UCI   sum         std
57507262       0.004038  1981  252.090616
33275765       0.002266  1324   89.683480
53956912       0.045455  1232   69.384221
1069770        0.106755  3035   51.346455
125373467      0.417939  1048   50.514369
82851721       4.565887  1753   48.528283
139123958      0.006166  4217   43.731289
46333858       0.262130  1690   41.340843
mrsbonbon      0.014364  1462   40.464011
46643232       0.200463  1726   39.931520
ohjoo          0.067834  1371   39.635371
Huxinghang510  0.326483  3017   37.586667
3569340        0.013436  1042   34.566661
lulu.madrid    0.000514  1944   34.458167
2238810        0.048340  1717   34.202045
51016659       0.446612  1845   28.576700
4723556        0.241279  1032   28.450923
48671739       0.119883  1026   27.801087
63293741       0.405268  1177   27.005095
49411879       0.524823  1128   24.276131
1514019        0.308634  1552   23.643639
turbine        0.438871  2552   23.466250
sweetleafyang  0.023077  1820   22.291111
61142417       0.200158  1264   22.145091
irisji8990     0.028067  1924   21.197659
41138294       0.076225  1102   20.670743
luzhiyu        1.175286  8489   20.541253
53488315       0.245024  2763   18.918468
bayer04040404  0.651387  3534   17.313604
liuhailong     0.211002  1327   17.218815
...                 ...   ...         ...
75215757       1.149620  1711    2.869381
lingyun93      0.614995  2174    2.848836
xyiyi          0.151980  1566    2.827635
Kiddieyi       0.908379  1277    2.771010
goldentung     0.314661  2053    2.733153
gainaxian      0.267965  2825    2.711074
1049890        0.025020  1239    2.550103
4070241        0.105569  2406    2.521886
aaaaaaalice    0.577611  1733    2.491788
emma520999     0.972996  1185    2.390831
machinex       0.775442  1189    2.323167
zhouruopei     0.649317  2344    2.291301
PiggyOgre      1.112126  2408    2.218005
2471325        0.244140  1749    2.166890
reglisse       0.802297  1219    2.121187
conanemily     0.903338  3745    2.110592
64488507       0.052232  1053    2.110000
gloomsky       0.990954  1216    2.008260
37924507       1.029991  1067    1.943030
46533228       0.006752  1333    1.904937
Angelachang    0.640036  1114    1.828953
redkop         0.768439  1166    1.767120
duzhouchi      1.165119  1508    1.333748
trampbowang    0.270446  1076    1.327460
3562814        0.129447  1012    1.325849
bettylwx       0.828947  1216    1.248575
redrock24      0.824592  1163    1.038725
54902656       1.000000  1266    1.008487
xuguanyu1381   0.484417  1123    0.938274
2010006        0.137533  1127    0.708555

[168 rows x 3 columns]

In [7]:
RNMUS = UPIBCF.compute_RNMUS(raw_rating_df)

In [8]:
RNMUS

uid
101030945          0.064083
101306532          0.009424
102009494          0.032866
102027189          0.000353
10241572           0.113088
103402492          0.005183
1049890            0.145954
104991310          0.011780
10564710           0.004948
106531709          0.058664
1069770            0.357521
1079180            0.054188
108016742          0.023089
109954597          0.004476
1111383            0.052067
114225619          0.011073
114300394          0.041112
1145037            0.036400
114515320          0.004830
114520027          0.049005
115608638          0.012016
116739424          0.000589
119030590          0.059842
119591426          0.015314
120076971          0.086465
120845613          0.077983
121362410          0.003770
121806653          0.036047
122948297          0.013665
1230022            0.008835
                     ...
xyiyi              0.184474
yange1991          0.013311
yatouzhu           0.014725
yfqc24pippo        0.374249
yiba               0.013429
yicai7094          0.117328
yinxiang           0.570150
yizhibanjie        0.132878
yolanta1030        0.117446
ytrr               0.082224
yuhanxi            0.091295
yungweitung        0.146660
yuuffy             0.040170
z123456789321      0.014961
z14759230          0.012133
zengdi77           0.090234
zeus93             0.190482
zhangxiaoduo123    0.002709
zhangyiwang        0.025091
zhouruopei         0.276122
zhuangdikun        0.079868
zhushejia          0.141595
zi1230             0.066086
zihaozai0407       0.064908
zmzy               0.055719
zoe-77             0.038049
zombieleslie       0.062669
zurich0o0          0.067028
zwj514235          0.163624
zyjj141            0.156673
dtype: float64

In [9]:
IHot = UPIBCF.compute_IHot(raw_rating_df)

In [12]:
IHot.name = 'hot'

In [14]:
IHot.index.name = 'hot'

In [20]:
temp = pd.merge(raw_rating_df, IHot.to_frame(), left_on='iid', right_index=True)

In [22]:
temp.groupby('uid')

In [23]:
people = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['joe','steve', 'wes', 'jim', 'travis'])

In [24]:
people

               a         b         c         d         e
joe     0.793579 -0.415870  1.344389 -1.024462 -0.815393
steve   0.505698 -0.875973 -1.168652  0.459257  0.526455
wes     0.168406  0.629154  1.653655  0.504813 -0.538843
jim    -0.582171  2.472839 -1.693615  0.620920 -1.414365
travis -0.833773 -1.062652 -0.082309  0.970275 -0.428879

In [25]:
key = ['one', 'two', 'one', 'two', 'one']

In [26]:
people.groupby(key).mean()

            a         b         c         d         e
one  0.042737 -0.283123  0.971911  0.150209 -0.594372
two -0.038237  0.798433 -1.431133  0.540088 -0.443955

In [28]:
def f(df):
    return np.sum(df['rating'] * df['hot'])

In [30]:
temp.groupby('uid').apply(f)

uid
101030945            48084
101306532            70022
102009494           113375
102027189             1369
10241572            289169
103402492            82575
1049890             676995
104991310            63027
10564710             48796
106531709           262081
1069770             926812
1079180             218524
108016742           161391
109954597            30260
1111383             187235
114225619              832
114300394           200039
1145037             185406
114515320            16488
114520027           273055
115608638            82272
116739424             6133
119030590           405460
119591426           131461
120076971           370679
120845613           453341
121362410            21921
121806653           233557
122948297            78000
1230022              30743
                    ...
xyiyi               534365
yange1991           103623
yatouzhu             66806
yfqc24pippo         945606
yiba                 60410
yicai7094           514171
yinxiang            704449
yizhibanjie         503237
yolanta1030         460419
ytrr                332121
yuhanxi             162268
yungweitung         213646
yuuffy              147940
z123456789321        74165
z14759230            63850
zengdi77            349175
zeus93              150692
zhangxiaoduo123      25318
zhangyiwang         164322
zhouruopei         1135228
zhuangdikun         509783
zhushejia           477497
zi1230              484922
zihaozai0407        343407
zmzy                333733
zoe-77              303271
zombieleslie        217527
zurich0o0           379184
zwj514235           147187
zyjj141             538565
dtype: int64

In [35]:
a = temp[temp['uid']== '101030945']

In [36]:
a

           uid       iid  rating        date  comment_type  hot
0    101030945  10438426       0  2014-09-29             0  154
1    101030945  10455629       0  2014-09-11             0  227
2    101030945  10463953       0  2015-07-13             0  396
3    101030945  10465145       0  2015-08-22             0   33
4    101030945  10467774       0  2016-06-05             0   40
5    101030945  10491666       5  2015-06-18             0  149
6    101030945  10533913       0  2016-10-23             0  389
7    101030945  10535568       0  2016-07-21             0  222
8    101030945  10545939       0  2014-10-08             0  208
9    101030945  10561953       0  2014-09-30             0  133
10   101030945  10574468       0  2014-09-29             0  477
11   101030945  10574622       0  2014-09-29             0  508
12   101030945  10605978       0  2014-09-29             0  292
13   101030945  10741643       0  2015-05-30             0  253
14   101030945  10757577       0  2016-03-01             0  246
15   101030945  10777687       0  2014-09-29             0  207
16   101030945  10792650       0  2015-07-02             0   87
17   101030945  10807909       0  2015-01-16             0  331
18   101030945  10831445       0  2016-05-16             0  212
19   101030945  10833919       0  2014-09-30             0   38
20   101030945  11510624       0  2014-10-08             0  198
21   101030945  11529526       0  2014-09-29             0  438
22   101030945  11589036       0  2016-01-30             0  330
23   101030945   1291543       0  2014-10-01             0  352
24   101030945   1291544       0  2014-09-29             0  277
25   101030945   1291545       0  2014-09-30             0  343
26   101030945   1291546       0  2015-05-21             0  557
27   101030945   1291548       0  2015-05-21             0  362
28   101030945   1291550       0  2014-09-11             0  319
29   101030945   1291557       0  2015-05-27             0  338
..         ...       ...     ...         ...           ...  ...
514  101030945   5353344       0  2015-12-08             0   42
515  101030945   5364905       0  2016-01-21             0   81
516  101030945   5422105       0  2014-09-30             0  234
517  101030945   5450891       0  2014-09-29             0  237
518  101030945   5912992       0  2014-09-11             0  288
519  101030945   5964718       0  2014-09-11             0  255
520  101030945   5977835       0  2014-09-29             0  319
521  101030945   5985961       0  2016-06-13             0   74
522  101030945   5993138       0  2015-09-20             0   68
523  101030945   6011806       0  2014-10-04             0  227
524  101030945   6041191       0  2014-09-29             0  257
525  101030945   6057942       0  2014-09-11             0  145
526  101030945   6080840       0  2016-09-25             0   43
527  101030945   6126442       0  2014-12-20             0  309
528  101030945   6129693       0  2014-09-11             0  174
529  101030945   6307447       0  2014-09-29             0  356
530  101030945   6522269       0  2014-09-11             0  278
531  101030945   6527269       0  2014-09-29             0   93
532  101030945   6549903       0  2014-09-29             0  262
533  101030945   6557005       0  2014-09-30             0  145
534  101030945   6730004       0  2014-09-30             0  310
535  101030945   6758119       0  2014-09-11             0   59
536  101030945   6799191       0  2014-09-11             0  301
537  101030945   6827727       0  2015-07-02             0  128
538  101030945   6872273       0  2014-10-04             0  223
539  101030945   6879185       0  2014-10-01             0  177
540  101030945   6880497       0  2016-05-29             0  123
541  101030945   6973376       0  2014-09-11             0  426
542  101030945   6985810       0  2015-05-27             0  174
543  101030945   7155005       0  2016-10-31             0   41

[544 rows x 6 columns]

In [39]:
np.sum(a['rating'] * a['hot'])

48084

In [40]:
import math

In [43]:
math.log(math.e)

1.0

In [44]:
temp

              uid       iid  rating        date  comment_type  hot
0       101030945  10438426       0  2014-09-29             0  154
908      10241572  10438426       0  2013-06-23             0  154
3793      1069770  10438426       4  2013-06-09             0  154
6828      1079180  10438426       5  2012-12-04             1  154
9277    119030590  10438426       4  2017-03-20             0  154
14106   126491753  10438426       3  2016-03-31             0  154
14567   127328593  10438426       4  2016-11-03             1  154
14970     1287157  10438426       4  2013-03-31             1  154
16184   129428484  10438426       3  2017-03-21             0  154
28632    14409274  10438426       0  2014-01-18             0  154
38958     2010006  10438426       3  2012-11-05             0  154
47893     2320102  10438426       3  2012-10-13             1  154
50866     2346731  10438426       0  2013-02-18             0  154
55542     2465629  10438426       5  2012-12-22             0  154
56461     2471325  10438426       3  2012-11-03             0  154
58320     2522001  10438426       0  2015-07-18             0  154
61914    29149296  10438426       4  2013-03-18             1  154
73201     3399138  10438426       2  2014-09-14             0  154
74639     3413155  10438426       5  2013-01-07             0  154
79751     3569340  10438426       0  2015-07-07             0  154
83426     3651662  10438426       0  2014-01-07             0  154
83727     3696391  10438426       4  2012-10-21             0  154
87416    37889499  10438426       3  2015-01-16             0  154
88072    37924507  10438426       3  2012-11-10             1  154
89139     3816094  10438426       4  2012-11-21             0  154
96158     4048178  10438426       4  2017-01-01             0  154
106831   41866252  10438426       0  2013-02-27             0  154
109035    4271475  10438426       3  2014-04-08             0  154
112334    4338460  10438426       3  2012-10-20             0  154
115680   44470776  10438426       0  2012-12-06             0  154
...           ...       ...     ...         ...           ...  ...
585712  zwj514235   2259505       0  2011-11-23             0    1
585740  zwj514235   2347234       0  2011-01-21             0    1
585826  zwj514235  25825702       0  2014-04-06             0    1
585869  zwj514235  26184079       3  2015-11-08             1    1
585889  zwj514235  26337144       2  2015-11-12             1    1
585920  zwj514235  26788879       0  2016-06-02             0    1
585952  zwj514235   3023502       0  2011-12-04             0    1
585958  zwj514235   3057379       0  2009-08-10             0    1
585999  zwj514235   3417312       0  2011-05-17             0    1
586007  zwj514235   3542256       0  2011-10-29             0    1
586034  zwj514235   3722568       0  2010-10-12             0    1
586079  zwj514235   3992329       0  2011-10-27             0    1
586088  zwj514235   4030394       0  2010-07-09             0    1
586139  zwj514235   4847829       0  2011-10-30             1    1
586162  zwj514235   5163583       0  2011-11-30             0    1
586199  zwj514235   5675006       0  2011-06-11             0    1
586228  zwj514235   6523147       0  2011-10-30             0    1
586229  zwj514235   6528522       0  2012-01-15             1    1
586750    zyjj141   3151817       3  1800-01-01             2    2
587232    zyjj141   3151817       3  2009-01-12             0    2
586756    zyjj141   1749044       0  2012-06-03             1    1
586771    zyjj141   1778621       4  2007-11-03             1    1
586935    zyjj141   2121871       4  2013-11-23             1    1
586963    zyjj141   2149559       3  2012-05-12             1    1
586982    zyjj141   2224932       5  2012-04-28             1    1
587008    zyjj141   2336389       0  2012-10-11             1    1
587124    zyjj141  25942606       0  2014-11-09             0    1
587204    zyjj141   3052696       0  2009-05-02             0    1
587490    zyjj141   5355157       0  2012-08-12             1    1
587569    zyjj141   6872284       0  2012-07-01             1    1

[587596 rows x 6 columns]

In [45]:
a

           uid       iid  rating        date  comment_type  hot    b
0    101030945  10438426       0  2014-09-29             0  154    0
1    101030945  10455629       0  2014-09-11             0  227    0
2    101030945  10463953       0  2015-07-13             0  396    0
3    101030945  10465145       0  2015-08-22             0   33    0
4    101030945  10467774       0  2016-06-05             0   40    0
5    101030945  10491666       5  2015-06-18             0  149  745
6    101030945  10533913       0  2016-10-23             0  389    0
7    101030945  10535568       0  2016-07-21             0  222    0
8    101030945  10545939       0  2014-10-08             0  208    0
9    101030945  10561953       0  2014-09-30             0  133    0
10   101030945  10574468       0  2014-09-29             0  477    0
11   101030945  10574622       0  2014-09-29             0  508    0
12   101030945  10605978       0  2014-09-29             0  292    0
13   101030945  10741643       0  2015-05-30             0  253    0
14   101030945  10757577       0  2016-03-01             0  246    0
15   101030945  10777687       0  2014-09-29             0  207    0
16   101030945  10792650       0  2015-07-02             0   87    0
17   101030945  10807909       0  2015-01-16             0  331    0
18   101030945  10831445       0  2016-05-16             0  212    0
19   101030945  10833919       0  2014-09-30             0   38    0
20   101030945  11510624       0  2014-10-08             0  198    0
21   101030945  11529526       0  2014-09-29             0  438    0
22   101030945  11589036       0  2016-01-30             0  330    0
23   101030945   1291543       0  2014-10-01             0  352    0
24   101030945   1291544       0  2014-09-29             0  277    0
25   101030945   1291545       0  2014-09-30             0  343    0
26   101030945   1291546       0  2015-05-21             0  557    0
27   101030945   1291548       0  2015-05-21             0  362    0
28   101030945   1291550       0  2014-09-11             0  319    0
29   101030945   1291557       0  2015-05-27             0  338    0
..         ...       ...     ...         ...           ...  ...  ...
514  101030945   5353344       0  2015-12-08             0   42    0
515  101030945   5364905       0  2016-01-21             0   81    0
516  101030945   5422105       0  2014-09-30             0  234    0
517  101030945   5450891       0  2014-09-29             0  237    0
518  101030945   5912992       0  2014-09-11             0  288    0
519  101030945   5964718       0  2014-09-11             0  255    0
520  101030945   5977835       0  2014-09-29             0  319    0
521  101030945   5985961       0  2016-06-13             0   74    0
522  101030945   5993138       0  2015-09-20             0   68    0
523  101030945   6011806       0  2014-10-04             0  227    0
524  101030945   6041191       0  2014-09-29             0  257    0
525  101030945   6057942       0  2014-09-11             0  145    0
526  101030945   6080840       0  2016-09-25             0   43    0
527  101030945   6126442       0  2014-12-20             0  309    0
528  101030945   6129693       0  2014-09-11             0  174    0
529  101030945   6307447       0  2014-09-29             0  356    0
530  101030945   6522269       0  2014-09-11             0  278    0
531  101030945   6527269       0  2014-09-29             0   93    0
532  101030945   6549903       0  2014-09-29             0  262    0
533  101030945   6557005       0  2014-09-30             0  145    0
534  101030945   6730004       0  2014-09-30             0  310    0
535  101030945   6758119       0  2014-09-11             0   59    0
536  101030945   6799191       0  2014-09-11             0  301    0
537  101030945   6827727       0  2015-07-02             0  128    0
538  101030945   6872273       0  2014-10-04             0  223    0
539  101030945   6879185       0  2014-10-01             0  177    0
540  101030945   6880497       0  2016-05-29             0  123    0
541  101030945   6973376       0  2014-09-11             0  426    0
542  101030945   6985810       0  2015-05-27             0  174    0
543  101030945   7155005       0  2016-10-31             0   41    0

[544 rows x 7 columns]

In [49]:
a['hot'] = np.log(a['hot'] - 1 + math.e)

C:\Users\rico\Miniconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [50]:
a

           uid       iid  rating        date  comment_type       hot    b
0    101030945  10438426       0  2014-09-29             0  5.048048    0
1    101030945  10455629       0  2014-09-11             0  5.432491    0
2    101030945  10463953       0  2015-07-13             0  5.985744    0
3    101030945  10465145       0  2015-08-22             0  3.547266    0
4    101030945  10467774       0  2016-06-05             0  3.730939    0
5    101030945  10491666       5  2015-06-18             0  5.015412  745
6    101030945  10533913       0  2016-10-23             0  5.967987    0
7    101030945  10535568       0  2016-07-21             0  5.410388    0
8    101030945  10545939       0  2014-10-08             0  5.345765    0
9    101030945  10561953       0  2014-09-30             0  4.903186    0
10   101030945  10574468       0  2014-09-29             0  6.171112    0
11   101030945  10574622       0  2014-09-29             0  6.233858    0
12   101030945  10605978       0  2014-09-29             0  5.682621    0
13   101030945  10741643       0  2015-05-30             0  5.540158    0
14   101030945  10757577       0  2016-03-01             0  5.512292    0
15   101030945  10777687       0  2014-09-29             0  5.340985    0
16   101030945  10792650       0  2015-07-02             0  4.485466    0
17   101030945  10807909       0  2015-01-16             0  5.807296    0
18   101030945  10831445       0  2016-05-16             0  5.364659    0
19   101030945  10833919       0  2014-09-30             0  3.681812    0
20   101030945  11510624       0  2014-10-08             0  5.296908    0
21   101030945  11529526       0  2014-09-29             0  6.086134    0
22   101030945  11589036       0  2016-01-30             0  5.804286    0
23   101030945   1291543       0  2014-10-01             0  5.868501    0
24   101030945   1291544       0  2014-09-29             0  5.630202    0
25   101030945   1291545       0  2014-09-30             0  5.842728    0
26   101030945   1291546       0  2015-05-21             0  6.325645    0
27   101030945   1291548       0  2015-05-21             0  5.896380    0
28   101030945   1291550       0  2014-09-11             0  5.770563    0
29   101030945   1291557       0  2015-05-27             0  5.828117    0
..         ...       ...     ...         ...           ...       ...  ...
514  101030945   5353344       0  2015-12-08             0  3.777766    0
515  101030945   5364905       0  2016-01-21             0  4.415441    0
516  101030945   5422105       0  2014-09-30             0  5.462637    0
517  101030945   5450891       0  2014-09-29             0  5.475284    0
518  101030945   5912992       0  2014-09-11             0  5.668909    0
519  101030945   5964718       0  2014-09-11             0  5.547979    0
520  101030945   5977835       0  2014-09-29             0  5.770563    0
521  101030945   5985961       0  2016-06-13             0  4.327020    0
522  101030945   5993138       0  2015-09-20             0  4.244463    0
523  101030945   6011806       0  2014-10-04             0  5.432491    0
524  101030945   6041191       0  2014-09-29             0  5.555740    0
525  101030945   6057942       0  2014-09-11             0  4.988514    0
526  101030945   6080840       0  2016-09-25             0  3.800382    0
527  101030945   6126442       0  2014-12-20             0  5.738887    0
528  101030945   6129693       0  2014-09-11             0  5.168882    0
529  101030945   6307447       0  2014-09-29             0  5.879746    0
530  101030945   6522269       0  2014-09-11             0  5.633783    0
531  101030945   6527269       0  2014-09-29             0  4.550907    0
532  101030945   6549903       0  2014-09-29             0  5.574881    0
533  101030945   6557005       0  2014-09-30             0  4.988514    0
534  101030945   6730004       0  2014-09-30             0  5.742100    0
535  101030945   6758119       0  2014-09-11             0  4.106245    0
536  101030945   6799191       0  2014-09-11             0  5.712803    0
537  101030945   6827727       0  2015-07-02             0  4.865365    0
538  101030945   6872273       0  2014-10-04             0  5.414848    0
539  101030945   6879185       0  2014-10-01             0  5.185811    0
540  101030945   6880497       0  2016-05-29             0  4.826057    0
541  101030945   6973376       0  2014-09-11             0  6.058465    0
542  101030945   6985810       0  2015-05-27             0  5.168882    0
543  101030945   7155005       0  2016-10-31             0  3.754627    0

[544 rows x 7 columns]

In [52]:
np.sum(a['hot'])

2703.3637721690407

In [59]:
np.sum(a['comment_type'] * a['hot']) / np.sum(1 / a['hot'])

0.2314262200875799

In [56]:
a[a['comment_type'] == 2]

Empty DataFrame
Columns: [uid, iid, rating, date, comment_type, hot, b]
Index: []

In [58]:
np.sum(1 / a['hot'])

116.34715350128494

In [60]:
 def f(df):
        df['hot'] = np.log(math.e + df['hot'] - 1)
        return np.sum(df['comment_type'] * df['hot']) / np.sum(1 / df['hot'])

In [66]:
c = temp.groupby('uid').apply(f)

In [71]:
pd.concat([RNMUS, c], axis=1)

                        0          1
uid
101030945        0.064083   0.231426
101306532        0.009424   4.465745
102009494        0.032866   0.161701
102027189        0.000353   4.679033
10241572         0.113088   6.457879
103402492        0.005183   2.964085
1049890          0.145954   0.159667
104991310        0.011780  18.197803
10564710         0.004948   8.267350
106531709        0.058664   0.000000
1069770          0.357521   1.264533
1079180          0.054188   4.297900
108016742        0.023089   6.131920
109954597        0.004476  18.477283
1111383          0.052067   0.865124
114225619        0.011073   0.000000
114300394        0.041112   3.212953
1145037          0.036400   4.296193
114515320        0.004830   8.259369
114520027        0.049005   1.670920
115608638        0.012016   1.899141
116739424        0.000589  27.446702
119030590        0.059842   0.053278
119591426        0.015314   0.650992
120076971        0.086465   1.377449
120845613        0.077983   5.172613
121362410        0.003770  25.051614
121806653        0.036047   7.948490
122948297        0.013665   3.757791
1230022          0.008835   1.758740
...                   ...        ...
xyiyi            0.184474   1.448615
yange1991        0.013311   6.099916
yatouzhu         0.014725   8.210207
yfqc24pippo      0.374249   5.512555
yiba             0.013429   5.682882
yicai7094        0.117328   2.086581
yinxiang         0.570150   2.634531
yizhibanjie      0.132878   2.152284
yolanta1030      0.117446   8.003607
ytrr             0.082224   1.735390
yuhanxi          0.091295   4.768465
yungweitung      0.146660   1.221774
yuuffy           0.040170   4.572179
z123456789321    0.014961   0.164422
z14759230        0.012133   3.673078
zengdi77         0.090234  13.091316
zeus93           0.190482   1.032105
zhangxiaoduo123  0.002709  16.737795
zhangyiwang      0.025091   6.420270
zhouruopei       0.276122  10.818506
zhuangdikun      0.079868  11.182156
zhushejia        0.141595   4.270191
zi1230           0.066086   0.685422
zihaozai0407     0.064908  13.687836
zmzy             0.055719   9.188705
zoe-77           0.038049   0.648003
zombieleslie     0.062669   6.304765
zurich0o0        0.067028   9.400689
zwj514235        0.163624   3.478420
zyjj141          0.156673  11.709576

[971 rows x 2 columns]